# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Kotlin
*.class
*.kotlin_module

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets
.env

# Kotlin compiler caches
.kotlin/

# Gradle (на всякий случай, если кто-то откроет проект через Gradle)
.gradle/
build/

